<a href="https://colab.research.google.com/github/Uzmamushtaque/Projects-in-Machine-Learning-and-AI/blob/main/chaii.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [3]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle competitions download chaii-hindi-and-tamil-question-answering

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading sample_submission.csv to /content
  0% 0.00/75.0 [00:00<?, ?B/s]
100% 75.0/75.0 [00:00<00:00, 154kB/s]
Downloading test.csv to /content
  0% 0.00/137k [00:00<?, ?B/s]
100% 137k/137k [00:00<00:00, 43.6MB/s]
Downloading train.csv.zip to /content
 89% 6.00M/6.78M [00:00<00:00, 61.7MB/s]
100% 6.78M/6.78M [00:00<00:00, 62.4MB/s]

Unzip the training data

In [7]:
! unzip train.csv.zip

Archive:  train.csv.zip
  inflating: train.csv

Visualizing data

In [8]:
# Turn .csv files into pandas DataFrame's
import pandas as pd
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
train_df.head()

          id  ... language
0  903deec17  ...    tamil
1  d9841668c  ...    tamil
2  29d154b56  ...    tamil
3  41660850a  ...    tamil
4  b29c82c22  ...    tamil

[5 rows x 6 columns]

In [9]:
# The test data doesn't have a target (that's what we'd try to predict)
test_df.head()

          id  ... language
0  22bff3dec  ...    hindi
1  282758170  ...    hindi
2  d60987e0e  ...    hindi
3  f99c770dc  ...    tamil
4  40dec1964  ...    tamil

[5 rows x 4 columns]

In [10]:
train_df.tail()

             id  ... language
1109  26f356026  ...    hindi
1110  31179f1bb  ...    hindi
1111  0d35dc007  ...    hindi
1112  7f997884d  ...    hindi
1113  ee569fe45  ...    hindi

[5 rows x 6 columns]